* {
  margin: 0%;
  padding: 0%;
}
.BG {
  position: fixed;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  width: 100%;
  height: 90px;
  background-color: #1a0b2e;
  z-index: 15;
  display: grid;
}
.navbar {
  display: flex;
  justify-self: center;
  align-items: center;
  padding-top: 25px;
  gap: 600px;
}
img {
  width: 30px;
  height: 40px;
}
.navbar-text {
  display: flex;
  gap: 165px;
}
.navbar-text li {
  list-style: none;
}
.navbar-text a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.navbar-text a:hover {
  color: #7127ba;
  transition: 0.3s;
}
@media (max-width: 375px) {
  .BG {
    width: 100%;
  }
  .navbar {
    gap: 80px;
    margin-left: 50px;
  }
  img {
    width: 20px;
    height: 30px;
  }
  .navbar-text {
    gap: 20px;
  }
  .navbar-text a {
    font-size: 18px;
  }
}
@media (min-width: 376px) and (max-width: 480px) {
  .BG {
    width: 100%;
  }
  .navbar {
    gap: 80px;
    margin-left: 50px;
  }
  img {
    width: 20px;
    height: 30px;
  }
  .navbar-text {
    gap: 20px;
  }
  .navbar-text a {
    font-size: 18px;
  }
}
@media (min-width: 481px) and (max-width: 820px) {
  .BG {
    width: 100%;
  }
  .navbar {
    gap: 300px;
  }
  .navbar-text {
    gap: 80px;
  }
  @media (min-width: 900px) and (max-width: 1439px) {
    .BG {
      width: 100%;
    }
    .navbar {
      gap: 50px;
    }
  }
}
